/* 

 FILE: COMP125-M2020-MidTerm-Test css
 AUTHOR: Thiago Luiz Batista
 WEB SITE: The Travel Report
 DESCRIPTION: This is the Style Sheet for the whole web page

*/

/* custom style sheet */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article,
section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}